
@{
    ViewBag.Title = "Index";
}

<h2>Login Form</h2>
<form method="post" action="@Url.Action("Index","SampleHash")">
    <label for="password">Password</label><br />
    <input type="password" name="password" /><br /><br />
    <input type="submit" value="Submit" />
</form>
<br />
Hasil Hash dari Password : @ViewBag.HasilHash

